<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log_level" value="INFO"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>
    <logger name="io.gatling.http.ahc" level="${log_level}"/>
    <logger name="io.gatling.http.engine.response" level="${log_level}"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
